<div ng-controller="loadJsonCtrl as showCase">
    <p class="text-danger"><strong>{{ message }}</strong></p>
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-hover table-bordered table-striped table-condensed"></table>
</div>
