<div class="modal-header">
    <h3 class="modal-title">Delete the app of {{tblApp.Id}}</h3>
</div>

@*<form name="frmApp" ng-submit="submitForm()" novalidate class="form-horizontal" role="form">
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-sm-4" for="Id">AppId</label>
            <div class="col-md-8 has-feedback">
                <input type="text" name="Id" class="form-control" ng-model="tblApp.Id" required autofocus placeholder="Enter AppId" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="AppName">Name of Application</label>
            <div class="col-md-8 has-feedback">
                <textarea name="AppName" class="form-control" ng-model="tblApp.AppName" required placeholder="Enter Name of Application" rows="2" disabled></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="AppUrl">URL</label>
            <div class="col-md-8 has-feedback">
                <textarea name="AppUrl" class="form-control" ng-model="tblApp.AppUrl" placeholder="Enter URL" required disabled></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="Note">Note</label>
            <div class="col-md-8 has-feedback">
                <textarea name="Note" rows="5" class="form-control" ng-model="tblApp.Note" disabled></textarea>
            </div>
        </div>
    </div>
</form>*@
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="delete()" ng-disabled="frmApp.$dirty">Confirm</button>
    <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
</div>
