@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div ng-app="AppsList">
    <div ng-controller="AppsCtrl as showCase">
        <p>
            <button class="btn btn-success" ng-click="create()">Create New</button>
        </p>
        <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-hover table-bordered table-striped table-condensed"></table>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></toaster-container>
</div>

@section scripts
{
    <link href="~/Content/loading-bar/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/toaster/toaster.css" rel="stylesheet" />
    <script src="~/Scripts/loading-bar/loading-bar.js" type="text/javascript"></script>
    <script src="~/Scripts/toaster/toaster.js" type="text/javascript"></script>
    <script src="~/Scripts/apps/appsList/appsList.js" type="text/javascript"></script>
}
