@{
    ViewBag.Title = "Index";
}

<div ng-app="routerApp">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">AngularUI Router</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
            <li><a ui-sref="about"><i class="fa fa-shield"></i> About</a></li>
        </ul>
    </nav>

    <div ui-view></div>
</div>


@section scripts
{
    <link href="~/Content/loading-bar/loading-bar.css" rel="stylesheet" /> 
    <script src="~/Scripts/ui.router/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="~/Scripts/loading-bar/loading-bar.js" type="text/javascript"></script>
    <script src="~/Scripts/apps/routerApp.js" type="text/javascript"></script>
}